// _variables.scss
$primary-color: #3498db;
$secondary-color: #2ecc71;
$forest-500: #008557;
$grass-200: #a0c963;
$seaweed-300: #a8b11a;
$sunrise-300: #ed8a00;
$shell-red: #dd1d21;
$shell-yellow: #ffc600;
